<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="astra_camera" params="parent xyz rpy">

        <link name="astra_link">
            <inertial>
                <origin xyz="0.021745856967737336 3.8230579211581216e-05 0.029303333814809707" rpy="0.0 0.0 0.0" />
                <mass value="0.23334756462839484" />
                <inertia ixx="0.00045538823905664865" iyy="7.785663760045297e-05" izz="0.00045460807011731756" ixy="1.841447020567419e-07" iyz="-4.2054876695014596e-08" ixz="9.205395041665818e-06" />
            </inertial>
            <visual name="astracamera_visual">
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
                <geometry>
                    <mesh filename="${mesh_url}astracamera.stl" scale="0.001 0.001 0.001" />
                </geometry>
                <material name="dark_grey" />
            </visual>
            <collision name="astracamera_collision">
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
                <geometry>
                    <mesh filename="${mesh_url}astracamera.stl" scale="0.001 0.001 0.001" />
                </geometry>
            </collision>
        </link>

        <joint name="astra_joint" type="fixed">
            <parent link="${parent}" />
            <child link="astra_link" />
            <origin xyz="${xyz}" rpy="${rpy}" />
        </joint>

        <link name="astra_optical_frame" />
        <joint name="astra_optical_joint" type="fixed">
            <parent link="astra_link" />
            <child link="astra_optical_frame" />
            <origin xyz="0 0 0.032" rpy="${rpy}" />
        </joint>

        <gazebo reference="astra_optical_frame">
            <sensor type="rgbd_camera" name="astra_pro">
                <topic>/astra/camera</topic>
                <always_on>true</always_on>
                <update_rate>5.0</update_rate>
                <camera>
                    <horizontal_fov>1.047</horizontal_fov> 
                    <image>
                        <width>640</width>
                        <height>480</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.1</near>
                        <far>8.0</far>
                    </clip>
                </camera>
                <gz_frame_id>astra_optical_frame</gz_frame_id>
            </sensor>
        </gazebo>

    </xacro:macro>
</robot>