<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Lidarino">
    <xacro:property name="mesh_url" value="package://lidarino_description/urdf/meshes/" />
    <link name="wheel_R">
        <inertial>
            <origin xyz="3.8589283501977436e-08 3.3503422258718277e-13 -0.017044397508191807" rpy="0.0 -0.0 0.0" />
            <mass value="0.0493089812577897" />
            <inertia ixx="2.1725366580018456e-05" iyy="2.172573834724608e-05" izz="3.791921679166611e-05" ixy="5.925842498991085e-17" iyz="1.1233689759665433e-16" ixz="1.2860682814920879e-11" />
        </inertial>
        <visual name="wheel_R_visual">
            <origin xyz="1.1368683772161603e-15 1.3322676295501878e-17 0.0" rpy="-4.72621546065603e-16 -1.1102230246251568e-16 -2.7755575615628926e-17" />
            <geometry>
                <mesh filename="${mesh_url}wheel_R.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision name="wheel_R_collision">
            <origin xyz="0 0 -0.017" rpy="0 0 0" />
            <geometry>
                <sphere radius="0.035" />
            </geometry>
        </collision>
    </link>
    <link name="base_link">
        <inertial>
            <origin xyz="-0.003112056333080186 -2.296575824702822e-16 0.00763198155223819" rpy="0.0 0.0 0.0" />
            <mass value="0.23452271908044364" />
            <inertia ixx="0.00044352479067893535" iyy="0.0006700968102651768" izz="0.001064913287950513" ixy="8.940708824769937e-15" iyz="3.5156320803171255e-12" ixz="3.3751097963762396e-05" />
        </inertial>
        <visual name="base_link_visual">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="${mesh_url}base_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision name="base_link_collision">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="${mesh_url}base_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <link name="wheel_L">
        <inertial>
            <origin xyz="3.8589283501977436e-08 3.3503422258718277e-13 -0.017044397508191828" rpy="0.0 -0.0 0.0" />
            <mass value="0.0493089812577897" />
            <inertia ixx="2.17253665800184e-05" iyy="2.1725738347246244e-05" izz="3.7919216791666135e-05" ixy="5.927197751706692e-17" iyz="1.1234367386023236e-16" ixz="1.2860682842025933e-11" />
        </inertial>
        <visual name="wheel_L_visual">
            <origin xyz="1.1368683772161603e-15 1.1102230246251566e-17 0.0" rpy="-1.4649353258190343e-16 -1.2470396389907355e-32 -5.551115123125783e-17" />
            <geometry>
                <mesh filename="${mesh_url}wheel_L.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision name="wheel_L_collision">
            <origin xyz="0 0 -0.017" rpy="0 0 0" />
            <geometry>
                <sphere radius="0.035" />
            </geometry>
        </collision>
    </link>
    <link name="lidar">
        <inertial>
            <origin xyz="9.148285995408401e-10 -1.4055638260363446e-14 -0.018366241687653523" rpy="0.0 -0.0 0.0" />
            <mass value="0.05517921789897613" />
            <inertia ixx="4.035574913846524e-05" iyy="4.035574911324637e-05" izz="6.456345828808408e-05" ixy="6.10000891607277e-14" iyz="-7.147133370998126e-17" ixz="2.3863745181318397e-13" />
        </inertial>
        <visual name="lidar_visual">
            <origin xyz="0.03699999999999997 -1.3132734841103373e-17 -0.005000000000000009" rpy="3.141592653589793 -1.1102230246251565e-16 -3.141592653589788" />
            <geometry>
                <mesh filename="${mesh_url}lidar.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision name="lidar_collision">
            <origin xyz="0.03699999999999997 -1.3132734841103373e-17 -0.005000000000000009" rpy="3.141592653589793 -1.1102230246251565e-16 -3.141592653589788" />
            <geometry>
                <mesh filename="${mesh_url}lidar.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <joint name="L_wheel_Revolute" type="continuous">
        <origin xyz="-0.06 0.06 0.015" rpy="1.5707963267948966 -0.0 0.0" />
        <parent link="base_link" />
        <child link="wheel_L" />
        <axis xyz="0.0 0.0 -1.0" />
        <limit effort="10.0" velocity="20.0" />
    </joint>
    <joint name="R_wheel_Revolute" type="continuous">
        <origin xyz="-0.06 -0.06 0.015" rpy="-1.5707963267948966 -0.0 0.0" />
        <parent link="base_link" />
        <child link="wheel_R" />
        <axis xyz="0.0 0.0 1.0" />
        <limit effort="10.0" velocity="20.0" />
    </joint>
    <joint name="lidar_Revolute" type="continuous">
        <origin xyz="-0.031000000000000003 0.0 0.03" rpy="3.141592653589793 -0.0 0.0" />
        <parent link="base_link" />
        <child link="lidar" />
        <axis xyz="0.0 0.0 1.0" />
    </joint>
    <xacro:property name="tof_radius" value="0.044" /> <xacro:property name="tof_z" value="-0.031" />      <xacro:macro name="tof_sensor" params="id angle parent">
        
        <link name="tof_${id}_link">
            <visual>
                <geometry>
                    <box size="0.0044 0.0024 0.002" />
                </geometry>
                <material name="black">
                    <color rgba="0.1 0.1 0.1 1.0"/>
                </material>
            </visual>
        </link>

        <joint name="tof_${id}_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="tof_${id}_link"/>
            <origin xyz="${tof_radius * cos(angle)} ${tof_radius * sin(angle)} ${tof_z}" rpy="0 0 ${angle}" />
        </joint>

        <gazebo reference="tof_${id}_link">
            <sensor type="gpu_lidar" name="tof_${id}_sensor">
                <topic>/scan_tof_${id}</topic>
                <pose>0 0 0 0 0 0</pose>
                <always_on>true</always_on>
                <visualize>true</visualize>
                <update_rate>30.0</update_rate>
                <lidar>
                    <scan>
                        <horizontal>
                            <samples>5</samples>
                            <resolution>1</resolution>
                            <min_angle>-0.218</min_angle>
                            <max_angle>0.218</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.05</min>
                        <max>2.0</max>
                        <resolution>0.001</resolution>
                    </range>
                </lidar>
                <gz_frame_id>tof_${id}_link</gz_frame_id>
            </sensor>
        </gazebo>
    </xacro:macro>

    <xacro:tof_sensor id="1" angle="0"          parent="lidar" />
    <xacro:tof_sensor id="2" angle="${pi/2}"    parent="lidar" />
    <xacro:tof_sensor id="3" angle="${pi}"      parent="lidar" />
    <xacro:tof_sensor id="4" angle="${3*pi/2}"  parent="lidar" />

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
        <joint name="lidar_Revolute">
            <command_interface name="velocity">
                <param name="min">-100</param>
                <param name="max">100</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="R_wheel_Revolute">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    
        <joint name="L_wheel_Revolute">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find lidarino_description)/config/controllers.yaml</parameters>
        </plugin>
    </gazebo>

    <gazebo reference="base_link">
        <mu1>0.0</mu1>
        <mu2>0.0</mu2>
    </gazebo>
    <gazebo reference="wheel_R">
        <mu1>1.0</mu1> 
        <mu2>1.0</mu2> 
        <kp>1000000.0</kp> 
        <kd>100.0</kd> 
    </gazebo>

    <gazebo reference="wheel_L">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
    </gazebo>
</robot>